---
title: "Tags"
layout: default
permalink: "/research/tags.html"
---

<div class="container">
<!--        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Tags</h1>-->
            {% assign tags =  site.publications | map: 'tags' | join: ','  | split: ',' | uniq %}
            {% for tag in tags %}
        <h4 class="tag font-weight-bold spanborder text-capitalize" id="{{ tag | replace: " ","-" }}"><span>Publications tagged '{{ tag }}'</span></h4>

        {% assign pages_list = site.publications | where: "tags", tag  %}
        {% for page in pages_list %}
        {% if page.title != null %}
          {% if group == null or group == post.group %}
            {% include pub-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

        {% endfor %}

        </div>
        

