---
title: "Research"
layout: default
pagination:
enabled: true
permalink: "/research/"
---

<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->
<div class="container">

<!--    <div class="row mt-3">-->

        <div class="col-lg-11 main-loop">

<!--    TODO This is where I'll put my research statement and stuff-->
<!--    <div class="row align-items-center ">-->
<!--        <div class="col-md-12">-->
<!--            <h2 class="font-weight-bold">Research Statement</h2>-->
<!--            <p><a href="{{ site.authors.brooke.site }}">{{ site.authors.brooke.site }}</a></p>-->
<!--            <p class="excerpt">-->

<!--            <br><br><br>-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->

    <h4 class="font-weight-600 spanborder"><span>Publications</span></h4>

            {% for page in site.publications %}

            {% include pub-loop-card.html %}

            {% endfor %}

    <h4 class="font-weight-600 spanborder"><span>Projects</span></h4>

<!--    change to | reverse for most recent first -->
    {% assign projs = site.projects | sort: 'date' %}

    {% for page in projs %}

    {% include pub-loop-card.html %}

    {% endfor %}

        </div>


</div>
