<!--  Don't edit anything here. Set your disqus id in _config.yml -->

<div id="comments" class="mt-5">
    <div id="giscus_thread">
    </div>
    <script src="https://giscus.app/client.js"
            data-repo="brookekelseyryan/brooke-blog"
            data-repo-id="R_kgDOGTYEWg"
            data-category="Show and tell"
            data-category-id="DIC_kwDOGTYEWs4CPZcI"
            data-mapping="title"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-lang="en"
            data-theme="https://brookekryan.com/assets/css/giscus.css"
            crossorigin="anonymous"
            async>
    </script>
</div>