{% if page.pdf %}
<span><a href="{{site.baseurl}}{{page.pdf}}" class="no-a-hover btn border-brooke btn-lg btn-faicon-brooke"><i class=" far fa-file-pdf "></i></a></span>
{% endif %}

{% if page.slides %}
<span><a href="{{site.baseurl}}{{page.slides}}" class="no-a-hover btn border-brooke btn-lg btn-faicon-brooke"><i class=" far fa-file-powerpoint"></i></a></span>
{% endif %}

{% if page.github %}
<span><a href="{{page.github}}" class="no-a-hover btn border-brooke btn-lg btn-faicon-brooke"><i class=" fab fa-github"></i></a></span>
{% endif %}

{% if page.youtube %}
<span><a href="{{page.youtube}}" class="no-a-hover btn border-brooke btn-lg btn-faicon-brooke"><i class="thin-icon fab fa-youtube"></i></a></span>
{% endif %}

{% if page.doi %}
<span><a href="{{page.doi}}" class="no-a-hover btn border-brooke btn-lg btn-faicon-brooke"><i class="ai ai-doi "></i></a></span>
{% endif %}

{% if page.experiments %}
<span><a href="{{page.experiments}}" class="no-a-hover btn border-brooke btn-lg btn-faicon-brooke"><i class="thin-icon fas fa-flask"></i></a></span>
{% endif %}

{% if page.citation %}
<span><a role="button" data-toggle="collapse" data-target="#{{page.uuid}}-citation" aria-expanded="false" aria-controls="{{page.uuid}}-citation" class="no-a-hover btn border-brooke btn-lg btn-faicon-brooke" style="color: #212529"><i class="thin-icon fas fa-quote-left"></i></a></span>
{% endif %}

{% if page.bibtex %}
<span class=" sscroll border-brooke btnbrooke btn btn-icon-brooke  font-weight-500" role="button" data-toggle="collapse" data-target="#{{page.uuid}}-bibtex" aria-expanded="false" aria-controls="{{page.uuid}}-bibtex"><a class=" no-a-hover">BibTeX</a></span>
{% endif %}

{% if page.citation %}
<div class="row mb-1">
    <div class="col-12">
        <div class="collapse" id="{{page.uuid}}-citation">
            <div class="highlighter-rouge"> <div class="highlight"> <code class="pre highlight border-brooke"> {{page.citation}}</code></div></div>
        </div>
    </div>
</div>
{% endif %}

{% if page.bibtex %}
<div class="row mb-1">
    <div class="col-12">
        <div class="collapse" id="{{page.uuid}}-bibtex">
            <div class="language-bibtex highlighter-rouge"> <div class="highlight"> <pre class="highlight border-brooke">{{page.bibtex}}</pre></div></div>
        </div>
    </div>
</div>
{% endif %}