<!--  Replace menu links here -->

<li class="nav-item">
<a class="" href="{{site.baseurl}}/index.html">
    <img style="margin-right: 1rem; float:left" alt=" " src="{{site.baseurl}}/assets/images/brain.png" class="nav-img" height="62" width="62">
</a>
</li>

<!--<li class="nav-item">-->
<!--<a class="nav-link" href="{{site.baseurl}}/about/index.html">About</a>-->
<!--</li>-->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/research/index.html">Research</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/writing/index.html">Writing</a>
</li>


<!--<li class="nav-item">-->
<!--    <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>-->
<!--</li>-->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/teaching/index.html">Teaching</a>
</li>

<!--<li class="nav-item">-->
<!--    <a class="nav-link" href="https://github.com/brookekelseyryan">Programming</a>-->
<!--</li>-->

<!--<li class="nav-item">-->
<!--    <a class="nav-link" href="{{site.baseurl}}/media/index.html">Media</a>-->
<!--</li>-->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about/index.html">About</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/assets/docs/Brooke_Ryan_Resume.pdf">Résumé</a>
</li>

<li class="nav-item">
<a class="nav-link pr-0" href="{{site.baseurl}}/assets/docs/Brooke_Ryan_CV.pdf">CV</a>
</li>
