<div class="mb-0 justify-content-between main-loop-card">
    <div class="d-flex">
    <div class="pr-3">
        <h2 class="mb-1 h4 font-weight-bold">
            <a class="text-dark" href="{{site.baseurl}}{{page.permalink}}">{{ page.title }}</a>
        </h2>
        <p>{{ page.authors }}</p>

        <p class="excerpt">
            {{ page.abstract  | strip_html | strip_newlines | truncate: 186}}
        </p>

        <small class="d-block text-muted">
            {% if page.venue %}
            {{ page.venue }}
            {% else %}
            {{ page.date | date: '%b %Y' }}
            {% endif %}
            <br>
        </small>



    </div>

    {% if page.thumbnail %}
    <div class="col-md-3 pr-0 text-right">
        <a class="no-a-hover" href="{{site.baseurl}}{{post.url}}">
            <img class="w-100" src="{% if post.thumbnail contains "://" %}{{ page.thumbnail }}{% else %}{{ site.baseurl }}/{{ page.thumbnail }}{% endif %}" alt="{{ page.title }}">
        </a>
    </div>
    {% endif %}
</div>
</div>

<div class="mb-5">

    <div class="text-muted mb-1">
        {% include icons.html %}
    </div>

</div>