---
title: "Media"
layout: default
permalink: "/media/"
---

<canvas id="canvas"> </canvas>
<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->
<div class="container">

    <div class="row mt-3">

        <div class="col-md-8 main-loop bg-lightpink">

            <h3 class="font-weight-600 spanborder"><span>Media</span></h3>

            {% assign medias = site.media %}
            {% assign mediaz = medias | sort: 'date' | reverse %}
            {% for post in mediaz %}

            {% include media-loop-card.html %}

            {% endfor %}



        </div>

        <div class="col-md-4 bg-lightpink">
            {% include sidebar-brooke.html %}
        </div>

    </div>



</div>
