---
layout: default
---
<canvas id="canvas"> </canvas>


<div class="container bg-lightpink">
    <div class="container-lg pt-4 pb-4">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">

                {% if page.has-code == true %}
                    <h1 class="display-4 mb-3 article-headline">{{ page.code | replace: "-", " " }}: {{ page.title }}</h1>
                {% else %}
                    <h1 class="display-4 mb-3 article-headline">{{ page.title }}</h1>
                {% endif %}
                <h4 class="display-6 article-subtitle mb-4 font-weight-normal">{{ page.role }}</h4>

                {% if page.image %}
                <div class="pr-0 align-self-center">
                    <img class="rounded border-brooke" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
                </div>
                {% endif %}

<!--                page avatar-->
                <div class="col-md-12 pr-0 pr-md-4 pt-3 pb-5 align-self-center">
                    <div class="d-flex align-items-center">
                        {% if page.avatar %}
                        <img class="rounded-circle" src="{{site.baseurl}}/{{page.avatar}}" alt="{{page.title}}" width="70"/>
                        {% endif %}
                        <small class="ml-3"> {{ page.institution }}, {{page.department}} <span></span>
                            {% if page.prof %}
                                <span class="text-muted d-block mt-1">{{page.prof}}</span>
                            {% endif %}
                            {% if page.catalog %}
                                <span class="text-muted d-block mt-1"><a href="{{page.catalog}}">{{page.code | replace: "-", " "}}</a> | {{page.quarter}}</span>
                            {% else %}
                                <span class="text-muted d-block mt-1">{{page.quarter}}</span>
                            {% endif %}
                        </small>
                    </div>
                </div>

                <h4>Description</h4>
                <p class="excerpt" >{{page.description}}</p>

            </div>

        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <!-- Article -->
            <course class="article-post">
<!--                <hr>-->
                {{ content }}
            </course>

            {% if page.related-content == true %}
                <div class="pt-3">
                    <h2>Related Content</h2>
                    <course> <p>Here are some educational posts from <a href="{{site.baseurl}}/writing/index.html#blog">my blog</a> that relate to topics that we cover in the course (some of them I even wrote specifically <em>for</em> the course!) I'd recommend that students read them, particularly if the topic is one you are struggling with understanding. </p></course>
                    <h4 class="font-weight-600 spanborder"><span><a href="{{site.baseurl}}/writing/index.html">Posts</a> tagged "{{page.title}}"</span></h4>
                    {% assign posts = site.posts | where:"courses", page.code %}
                    {% for post in posts %}
                        {% include main-loop-card.html %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if page.related-research == true %}
<!--            <hr>-->
                <div class="pt-3">
<!--                    <h2>Related Research</h2>-->
<!--                    <course> <p>Below, I've included published research related to my work in the course.</p></course>-->
                    <h4 class="font-weight-600 spanborder"><span><a href="{{site.baseurl}}/research/index.html">Publications</a> tagged "{{page.title}}"</span></h4>
                    {% assign publications = site.publications | where:"courses", page.code %}
                    {% for page in publications %}
                    {% include pub-loop-card.html %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if page.related-media == true %}
            <!--            <hr>-->
            <div class="pt-3">
                <!--                    <h2>Related Research</h2>-->
                <!--                    <course> <p>Below, I've included published research related to my work in the course.</p></course>-->
                <h4 class="font-weight-600 spanborder"><span>Related <a href="{{site.baseurl}}/media/index.html">Media</a></span></h4>
                {% assign medias = site.media | where:"courses", page.code %}
                {% assign mediaz = medias | sort: 'date' | reverse %}
                {% for post in mediaz %}
                {% include media-loop-card.html %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="pb-6"></div>
        </div>
    </div>



</div>
