---
layout: default
---
{% assign author = site.authors[page.author] %}
<canvas id="canvas">Your browser doesn't support canvas</canvas>

<div class="container bg-lightpink">


	<div class="container-lg pt-4 pb-4">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-9">

	<h1 class="display-4 mb-3 article-headline">{{ page.title }}</h1>
	<h4 class="display-6 article-subtitle mb-4">{{ page.subtitle }}</h4>
	{% if page.image %}
	<div class="pr-0 align-self-center">
		<img class="rounded border-brooke" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
	</div>
	{% endif %}
	<div class="col-md-8 pr-0 pr-md-4 pt-4 pb-4 align-self-center">
		<!--					<p class="text-uppercase font-weight-bold">-->
		<!--                        <span class="catlist">-->
		<!--						{% for category in page.categories %}-->
		<!--                          <a class="sscroll text-danger" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | downcase }}</a><span class="sep">, </span>-->
		<!--                        {% endfor %}-->
		<!--                        </span>-->
		<!--					</p>-->
		<div class="d-flex align-items-center">
			{% if author.avatar %}
			<img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="70"/>
			{% endif %}
			<small class="ml-3"> {{ author.name }} <span></span>
				<span class="text-muted d-block mt-1">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %} · <a class="a-dark smoothscroll" href="#giscus_thread">💬 Comment</a></span>
			</small>
		</div>
	</div>
		<div class="h-100">
			<div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
<!--				{% if page.triggers %}-->
<!--				<p class="excerpt" style="font-style: italic">Trigger warnings: {{ page.triggers }}</p>-->
<!--				{% endif %}-->
			</div>
		</div>
	</div>
</div>
		</div>


<!--<div class="container-lg pt-4 pb-4">-->

	<div class="row justify-content-center">

		<!-- Share -->
<!--		<div class="col-lg-2 pr-4 mb-4 col-md-12">-->
<!--			<div class="sticky-top sticky-top-offset text-center">-->
<!--				<div class="text-muted">-->
<!--					Share this-->
<!--				</div>-->
<!--				<div class="share d-inline-block">-->
<!--					&lt;!&ndash; AddToAny BEGIN &ndash;&gt;-->
<!--					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">-->
<!--						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
<!--						<a class="a2a_button_facebook"></a>-->
<!--						<a class="a2a_button_twitter"></a>-->
<!--					</div>-->
<!--					<script async src="https://static.addtoany.com/menu/page.js"></script>-->
<!--					&lt;!&ndash; AddToAny END &ndash;&gt;-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
        
        
		<div class="col-md-12 col-lg-9">
            
            <!-- Article -->
			<article class="article-post">                
			{{ content }}

				{% if page.crosspost %}
				{{page.crosspost}}
				{% endif %}
			</article>
			
			<!-- Tags -->
			<div class="mb-4">
				<span class="taglist">
				{% for tag in page.tags %}
				  <a class="sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag | downcase }}</a>
				{% endfor %}
				</span>
			</div>
 
            <!-- Mailchimp Subscribe Form -->
            {% if site.mailchimp-list %}
			<div class="border-brooke p-5 bg-lightblue">
				<div class="row justify-content-between">
					<div class="col-md-6 mb-2 mb-md-0">
						<h5 class="font-weight-bold">Join My Newsletter <img src="{{ site.baseurl }}/assets/images/brooke_ghostie.png" width="30" alt="{{site.title}}"></h5>
						 Sign up to get an email when I (occasionally) post!
					</div>
					<div class="col-md-6">
						<div class="row">
                            <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate w-100" target="_blank" novalidate>
                            <div class="mc-field-group">
							
								<input type="email" placeholder="Enter e-mail address" name="EMAIL" class="required email form-control w-100" id="mce-EMAIL" autocomplete="on" required>
							
							
								<button type="submit" value="Subscribe" name="subscribe" class="heart btn btn-brooke btn-block w-100 mt-2">Subscribe</button>
							
                            </div>
                            </form>
						</div>
					</div>
				</div>
			</div>
            {% endif %}
            
            
             <!-- Author Box -->
                {% if page.author %}				
				<div class="row mt-5">
					<div class="col-md-2 align-self-center">
                         {% if author.avatar %}
                        <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="90"/>
                        {% endif %} 
					</div>
					<div class="col-md-10">		
                        <h5 class="font-weight-bold">Written by {{ author.name }} {% if author.twitter %}<span><a target="_blank" href="{{ author.twitter }}" class="no-a-hover btn btn-outline-dark btn-sm btn-round ml-2">Follow on Medium</a></span>{% endif %}</h5>
						{{ author.bio }}

						<div class="pl-0 pr-0 mt-2 col-sm-12 special-baby">
							<a href="https://github.com/brookekelseyryan" class="btn btn-faicon"><i class="fab fa-github "></i></a>
							<a href="https://scholar.google.com/citations?&user=E5NlNS0AAAAJ" class="btn btn-faicon"><i class="ai ai-google-scholar "></i></a>
							<a href="https://www.linkedin.com/in/brookekryan" class="btn btn-faicon"><i class="fab fa-linkedin-in "></i></a>
							<a href="{{site.baseurl}}/assets/docs/Brooke_Ryan_CV.pdf" class="btn btn-faicon"><i class="ai ai-cv-square "></i></a>
							<a href="mailto:brooke.ryan@uci.edu" class="btn btn-faicon"><i class="fa-solid fa-envelope "></i></a>
							<a href="https://medium.com/@brookekryan" class="btn btn-faicon"><i class="fab fa-medium "></i></a>
						</div>
					</div>

				</div>				
                {% endif %}
            
            <!-- Comments -->
            {% if page.comments != false %}
                {% include comments.html %}
            {% endif %}


<!--			Cite this -->

			<div class="row mt-6 mb-6" >
				<div class="col-12">

					<h4 class="mt-2">Reuse</h4>
					<p class="fraunces font-weight-light">Text and figures are licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution CC BY 4.0</a>. The figures that have been reused from other sources that don't fall under this license credit the original source in the caption.</p>

					<h4>Cite this Post</h4>
					<div id="cite-this">
						<div class="language-bibtex highlighter-rouge"> <div class="highlight border-brooke"> <pre class="highlight mb-0">@misc{ryan-{{ page.date | date: "%Y" }}-{{ page.slug }},
  author = {Brooke K. Ryan},
  title = { {{ page.title }} },
  url = {https://brookekryan.com{{page.permalink}}},
  year = { {{page.date | date: "%Y"}} }
}</pre></div></div>
					</div>
				</div>
			</div>
            
		</div>
        
        
	</div>
</div>


<!-- Bottom Alert Bar
================================================== -->
<div class="alertbar">
	<div class="container text-center">
		<span><img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{site.title}}"> &nbsp; Sign up to get an email when I occasionally post! </span>
		<form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
			<div class="mc-field-group">
				<input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
				<input type="submit" value="Subscribe" name="subscribe" class="heart">
			</div>
		</form>
	</div>
</div>



</div>