---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="container">


	<div class="container-lg pt-4 pb-4">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">

				<h1 class="display-4 mb-3 article-headline">{{ page.title }}</h1>
				<h4 class="display-6 article-subtitle mb-4 font-weight-normal">{{ page.authors }}</h4>
				<div class="pr-0 align-self-center">
					{% if page.youtube %}
					<iframe class="youtube" src="{{ page.youtube }}" title="{{ page.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					{% elsif page.thumbnail %}
					<img class="rounded " src="{% if page.thumbnail contains "://" %}{{ page.thumbnail }}{% else %}{{ site.baseurl }}/{{ page.thumbnail }}{% endif %}" alt="{{ page.title }}">
					{% endif %}
				</div>
				<div class="col-md-12 pl-0 pr-0 pr-md-4 pt-4 pb-4 align-self-center">

					<div class="d-flex align-items-center">
						<h6 class="text-muted space-mono">{{page.venue}}</h6>
					</div>
					{% include icons.html %}

					<!-- Tags -->
					<div class>
				<span class="taglist">
				{% for tag in page.tags %}
				  <a class="sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/research/tags.html#{{ tag | replace: " ","-" }}">{{ tag }}</a>
					{% endfor %}
				</span>
					</div>

				</div>
				<div class="h-100">

				</div>
			</div>
		</div>
	</div>


	<!--<div class="container-lg pt-4 pb-4">-->

	<div class="row justify-content-center">

		<!-- Share -->
		<!--		<div class="col-lg-2 pr-4 mb-4 col-md-12">-->
		<!--			<div class="sticky-top sticky-top-offset text-center">-->
		<!--				<div class="text-muted">-->
		<!--					Share this-->
		<!--				</div>-->
		<!--				<div class="share d-inline-block">-->
		<!--					&lt;!&ndash; AddToAny BEGIN &ndash;&gt;-->
		<!--					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">-->
		<!--						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
		<!--						<a class="a2a_button_facebook"></a>-->
		<!--						<a class="a2a_button_twitter"></a>-->
		<!--					</div>-->
		<!--					<script async src="https://static.addtoany.com/menu/page.js"></script>-->
		<!--					&lt;!&ndash; AddToAny END &ndash;&gt;-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->


		<div class="col-md-12 col-lg-10">

			<!-- Article -->
			<article class="article-post">
				{{ content }}
			</article>




			<!-- Mailchimp Subscribe Form -->
			{% if page.comments != false %}
<!--			{% if site.mailchimp-list %}-->
<!--			<div class="border p-5 bg-lightblue">-->
<!--				<div class="row justify-content-between">-->
<!--					<div class="col-md-6 mb-2 mb-md-0">-->
<!--						<h5 class="font-weight-bold">Join My Newsletter <img src="{{ site.baseurl }}/assets/images/brooke_ghostie.png" width="30" alt="{{site.title}}"></h5>-->
<!--						Support my mission to make Computer Science fun and accessible for all. It helps grow the blog, and I'll never spam!-->
<!--					</div>-->
<!--					<div class="col-md-6">-->
<!--						<div class="row">-->
<!--							<form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate w-100" target="_blank" novalidate>-->
<!--								<div class="mc-field-group">-->

<!--									<input type="email" placeholder="Enter e-mail address" name="EMAIL" class="required email form-control w-100" id="mce-EMAIL" autocomplete="on" required>-->


<!--									<button type="submit" value="Subscribe" name="subscribe" class="heart btn btn-brooke btn-block w-100 mt-2">Subscribe</button>-->

<!--								</div>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			{% endif %}-->

			<!-- Comments -->

			{% include comments.html %}
			{% endif %}



		</div>


	</div>
</div>


